<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Umar">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ICO Crypto is a modern and elegant landing page, created for ICO Agencies and digital crypto currency investment website.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="/static/images/favicon.png">
    <!-- Site Title  -->
    <title>JS Financial</title>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="/static/assets/css/vendor.bundle.css?ver=110">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/static/assets/css/style.css?ver=110">
</head>

<body class="user-dashboard">
    <!-- Topbar -->
    <div class="topbar">
        <div class="topbar-md d-lg-none">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <!-- <a href="#" class="toggle-nav">
                        <div class="toggle-icon">
                            <span class="toggle-line"></span>
                            <span class="toggle-line"></span>
                            <span class="toggle-line"></span>
                            <span class="toggle-line"></span>
                        </div>
                    </a> .toggle-nav -->
                     <div class="site-logo">
                        <a href="/" class="site-brand">
                            <img src="/static/images/logo.png" alt="logo" srcset="/static/images/logo.png 2x">
                        </a>
                    </div><!-- .site-logo -->
                    <div class="dropdown topbar-action-item topbar-action-user">
                        <a href="#" data-bs-toggle="dropdown"> <img class="icon" src="/static/images/user-thumb-sm.png" alt="thumb"> </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <div class="user-dropdown">
                                <div class="user-dropdown-head">
                                    <h6 class="user-dropdown-name">{{ active_user.name }} {{ active_user.second_name }} <span></span></h6>
                                    <span class="user-dropdown-email">{{ active_user.email }}</span>
                                </div>
                                <div class="user-dropdown-balance">
                                    <h6>Депозиты</h6>
                                    <h3>$ {{ active_user.invest_sum }} </h3>
                                   <!--  <ul>
                                        <li>1.240 BTC</li>
                                        <li>19.043 ETH</li>
                                        <li>6,500.13 USD</li>
                                    </ul> -->
                                </div>
                                <!-- <ul class="user-dropdown-btns btn-grp guttar-10px">
                                    <li><a href="#" class="btn btn-xs btn-warning">Confirm Email</a></li>
                                    <li><a href="kyc.html" class="btn btn-xs btn-warning">KYC Pending</a></li>
                                </ul> -->
                                <div class="gaps-1x"></div>
                                <ul class="user-dropdown-links">
                                    <li><a href="/cabinet"><i class="ti ti-user"></i>Кабинет</a></li>
                                    <li><a href="/profit"><i class="ti ti-pie-chart"></i>Доход</a></li>
                                    <li><a href="/transaction"><i class="ti ti-control-shuffle"></i>Транзакции</a></li>
                                </ul>
                                <ul class="user-dropdown-links">
                                    <li><a href="/logout"><i class="ti ti-power-off"></i>Выйти</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- .toggle-action -->
                </div><!-- .container -->
            </div><!-- .container -->
        </div><!-- .topbar-md -->
        <div class="container">
            <div class="d-lg-flex align-items-center justify-content-between">
                <div class="topbar-lg d-none d-lg-block">
                    <div class="site-logo">
                        <a href="/" class="site-brand">
                            <img src="/static/images/logo.png" alt="logo" srcset="/static/images/logo2x.png 2x">
                        </a>
                    </div><!-- .site-logo -->
                </div><!-- .topbar-lg -->
                <div class="topbar-action d-none d-lg-block">
                    <ul class="topbar-action-list">
                        <!-- <li class="topbar-action-item topbar-action-link">
                            <a href="/"><em class="ti ti-home"></em> Главная</a>
                        </li> --><!-- .topbar-action-item -->
                        <!-- <li class="dropdown topbar-action-item topbar-action-language">
                            <a href="#" data-bs-toggle="dropdown"> EN <em class="ti ti-angle-down"></em> </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">FR</a></li>
                                <li><a href="#">JY</a></li>
                                <li><a href="#">CH</a></li>
                            </ul>
                        </li> --><!-- .topbar-action-item -->
                        <li class="dropdown topbar-action-item topbar-action-user">
                            <a href="#" data-bs-toggle="dropdown"> <img class="icon" src="/static/images/user-thumb-sm.png" alt="thumb"> </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <div class="user-dropdown">
                                    <div class="user-dropdown-head">
                                        <h6 class="user-dropdown-name">{{ active_user.name }} {{ active_user.second_name }} <span></span></h6>
                                        <span class="user-dropdown-email">{{ active_user.email }}</span>
                                    </div>
                                    <div class="user-dropdown-balance">
                                        <h6>Депозиты</h6>
                                        <h3>$ {{ active_user.invest_sum }}</h3>
                                   <!--  <ul>
                                        <li>1.240 BTC</li>
                                        <li>19.043 ETH</li>
                                        <li>6,500.13 USD</li>
                                    </ul> -->
                                    </div>
                                   <ul class="user-dropdown-links">
                                    <li><a href="/cabinet"><i class="ti ti-user"></i>Кабинет</a></li>
                                    <li><a href="/profit"><i class="ti ti-pie-chart"></i>Доход</a></li>
                                    <li><a href="/transaction"><i class="ti ti-control-shuffle"></i>Транзакции</a></li>
                                </ul>
                                <ul class="user-dropdown-links">
                                    <li><a href="/logout"><i class="ti ti-power-off"></i>Выйти</a></li>
                                </ul>
                                </div>
                            </div>
                        </li><!-- .topbar-action-item -->
                    </ul><!-- .topbar-action-list -->
                </div><!-- .topbar-action -->
            </div><!-- .d-flex -->
        </div><!-- .container -->
    </div>
    <!-- TopBar End -->
    <div class="user-wraper">
        <div class="container">
            <div class="d-flex">
                <div class="user-sidebar">
                    <div class="user-sidebar-overlay"></div>
                    <div class="user-box d-none d-lg-block">
                        <div class="user-image">
                            <img src="/static/images/user-thumb-lg.png" alt="thumb">
                        </div>
                        <h6 class="user-name">{{ active_user.name }} {{ active_user.second_name }} </h6>
<!--                        <div class="user-uid">Unique ID: <span>IXIA1A105</span></div>-->
                       <!--  <ul class="btn-grp guttar-10px">
                            <li><a href="#" class="btn btn-xs btn-warning">Confirm Email</a></li>
                            <li><a href="kyc.html" class="btn btn-xs btn-warning">KYC Pending</a></li>
                        </ul> -->
                    </div><!-- .user-box -->
                     <ul class="user-dropdown-links">
                                    <li><a href="/cabinet"><i class="ti ti-user"></i>Кабинет</a></li>
                                    <li><a href="/profit"><i class="ti ti-pie-chart"></i>Доход</a></li>
                                    <li><a href="/transaction"><i class="ti ti-control-shuffle"></i>Транзакции</a></li>
                                </ul><!-- .user-icon-nav -->
                    <div class="user-sidebar-sap"></div><!-- .user-sidebar-sap -->
                    <!-- <ul class="user-nav">
                        <li><a href="how-to.html">How to buy?</a></li>
                        <li><a href="faq.html">Faqs</a></li>
                        <li><a href="#">Whitepaper</a></li>
                        <li>Contact Support<span>info@icocrypto.com</span></li>
                    </ul> --><!-- .user-nav -->
                    
                </div><!-- .user-sidebar -->
                <div class="user-content">
                    <div class="user-panel">
                        <div class="col-md-12">
                                <div class="tile-item tile-primary">
                                    <div class="tile-bubbles"></div>
                                    <h6 class="tile-title">Депозиты</h6>
                                    <h1 class="tile-info">$  {{ active_user.invest_sum }} </h1>
                                    
                                </div>
                            </div>
                        <h2 class="user-panel-title"> Персональные данные</h2>
                        <!-- <div class="alert-box alert-primary">
                            <div class="alert-txt"><em class="ti ti-alert"></em>Confirm your email address</div>
                            <a href="#" class="btn btn-sm btn-primary">Resend Email</a>
                        </div> --><!-- .alert-box -->
                        <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#personal-data">ЛИЧНЫЕ ДАННЫЕ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#wallet-address">РЕКВИЗИТЫ</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#notification">Notification</a>
                            </li> -->
                        </ul><!-- .nav-tabs-line -->
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="personal-data">
                                <form action="#">
                                    <div class="input-item input-with-label">
                                        <label for="full-name" class="input-item-label">Имя</label>
                                        <input class="input-bordered" value="{{ active_user.name }}" readonly type="text" id="full-name" name="full-name">
                                    </div><!-- .input-item -->
                                    <div class="input-item input-with-label">
                                        <label for="sur-name" class="input-item-label">Фамилия</label>
                                        <input class="input-bordered" value="{{ active_user.second_name }}" readonly type="text" id="sur-name" name="sur-name">
                                    </div><!-- .input-item -->
                                    <div class="input-item input-with-label">
                                        <label for="email-address" class="input-item-label">Адрес электронной почты</label>
                                        <input class="input-bordered" value="{{ active_user.email }}" readonly type="text" id="email-address" name="email-address">
                                    </div><!-- .input-item -->
                                    <div class="input-item input-with-label">
                                        <label for="mobile-number" class="input-item-label">Номер телефона</label>
                                        <input class="input-bordered" readonly value="{{ active_user.phone }}" type="text" id="mobile-number" name="mobile-number">
                                    </div><!-- .input-item -->
                                    <!-- <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-item input-with-label">
                                                <label for="date-of-birth" class="input-item-label">Date of Birth</label>
                                                <input class="input-bordered date-picker" type="text" id="date-of-birth" name="date-of-birth">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-item input-with-label">
                                                <label for="nationality" class="input-item-label">Nationality</label>
                                                <select class="country-select" name="Nationality" id="Nationality">
                                                    <option value="us">United State</option>
                                                    <option value="uk">United KingDom</option>
                                                    <option value="fr">France</option>
                                                    <option value="ch">China</option>
                                                    <option value="cr">Czech Republic</option>
                                                    <option value="cb">Colombia</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- <div class="gaps-1x"></div> -->
                                    <!-- <div class="d-sm-flex justify-content-between align-items-center">
                                        <button class="btn btn-primary">Update</button>
                                        <div class="gaps-2x d-sm-none"></div>
                                        <span class="color-success"><em class="ti ti-check-box"></em> All Changes are saved</span>
                                    </div> -->
                                </form><!-- form -->
                            </div><!-- .tab-pane -->
                            <div class="tab-pane fade" id="wallet-address">
                                <!-- <p>In order to receive your ICOX Tokens, please select your wallet addres and you have to put the address below input box. You will receive ICOX tokens to this address after the Token Sale end.</p> -->
                                <form action="#">
                                    <!-- <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-item input-with-label">
                                                <label for="swalllet" class="input-item-label">Select Wallet </label>
                                                <select class="input-bordered" name="swalllet" id="swalllet">
                                                    <option value="eth">Ethereum</option>
                                                    <option value="dac">DashCoin</option>
                                                    <option value="bic">BitCoin</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="input-item input-with-label">
                                        <label for="token-address" class="input-item-label">20-ти значный номер</label>
                                        <input class="input-bordered" type="text" value="{{ active_user.card_number }}" readonly id="token-address" name="token-address" value="" readonly>
                                        <!-- <span class="input-note">Note: Address should be ERC20-compliant.</span> -->
                                    </div><!-- .input-item -->
                                    <!-- <div class="gaps-2x"></div>
                                    <div class="note note-plane note-danger">
                                        <em class="fas fa-info-circle"></em>
                                        <p>DO NOT USE your exchange wallet address such as Kraken, Bitfinex, Bithumb, Binance etc. You can use MetaMask, MayEtherWallet, Mist wallets etc. Do not use the address if you don’t have a private key of the your address. You WILL NOT receive ICOX Tokens and WILL LOSE YOUR FUNDS if you do.</p>
                                    </div> -->
                                    <!-- <div class="gaps-3x"></div>
                                    <div class="gaps-1x"></div>
                                    <div class="d-sm-flex justify-content-between align-items-center">
                                        <button class="btn btn-primary">Update</button>
                                        <div class="gaps-2x d-sm-none"></div>
                                        <span class="color-success"><em class="ti ti-check-box"></em> Saved your wallet address</span>
                                    </div> -->
                                </form><!-- form -->
                            </div><!-- .tab-pane -->
                            <!-- <div class="tab-pane fade" id="notification">
                                <p>You can manage your all kind of notification from here.</p>
                                <div class="gaps-1x"></div>
                                <ul class="notification-list">
                                    <li>
                                        <span>Notify me by email about resumption of sales</span>
                                        <div class="padl-2x"><input class="input-switch" type="checkbox" id="rsmpts"><label for="rsmpts"></label></div>
                                    </li>
                                    <li>
                                        <span>Notify me by email for latest news</span>
                                        <div class="padl-2x"><input class="input-switch" type="checkbox" checked id="lnews"><label for="lnews"></label></div>
                                    </li>
                                    <li>
                                        <span>Alert me by email for unusual activity.</span>
                                        <div class="padl-2x"><input class="input-switch" type="checkbox" checked id="unuact"><label for="unuact"></label></div>
                                    </li>
                                </ul>
                                <div class="gaps-4x"></div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span></span>
                                    <span class="color-success"><em class="ti ti-check-box"></em> Update Notification Settings</span>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    
                </div><!-- .user-content -->
            </div><!-- .d-flex -->
        </div><!-- .container -->
    </div>
    <!-- UserWraper End -->
    <div class="footer-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="text-align: center;">
                        <div class="copyright-text copyright-text-s2">©2023. Designed  by <a href="https://umar.kz/">Umar</a>.</div>
                    </div><!-- .col -->
                <!-- <div class="col-md-5 text-md-end">
                    <ul class="footer-links">
                        <li><a href="policy.html">Privacy Policy</a></li>
                        <li><a href="policy.html">Terms of Sales</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
    <!-- FooterBar End -->
    <!-- JavaScript (include all script here) -->
    <script src="/static/assets/js/jquery.bundle.js?ver=110"></script>
    <script src="/static/assets/js/script.js?ver=110"></script>
</body>

</html>