<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Umar">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ICO Crypto is a modern and elegant landing page, created for ICO Agencies and digital crypto currency investment website.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="/static/images/favicon.png">
    <!-- Site Title  -->
    <title>JS Financial</title>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="/static/assets/css/vendor.bundle.css?ver=110">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/static/assets/css/style.css?ver=110">
</head>

<body class="user-dashboard">
    <!-- Topbar -->
    <div class="topbar">
        <div class="topbar-md d-lg-none">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <!-- <a href="#" class="toggle-nav">
                        <div class="toggle-icon">
                            <span class="toggle-line"></span>
                            <span class="toggle-line"></span>
                            <span class="toggle-line"></span>
                            <span class="toggle-line"></span>
                        </div>
                    </a> .toggle-nav -->
                     <div class="site-logo">
                        <a href="/" class="site-brand">
                            <img src="/static/images/logo.png" alt="logo" srcset="/static/images/logo2x.png 2x">
                        </a>
                    </div><!-- .site-logo -->
                    <div class="dropdown topbar-action-item topbar-action-user">
                        <a href="#" data-bs-toggle="dropdown"> <img class="icon" src="/static/images/user-thumb-sm.png" alt="thumb"> </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <div class="user-dropdown">
                                <div class="user-dropdown-head">
                                    <h6 class="user-dropdown-name">{{ active_user.name }} {{ active_user.second_name }} <span></span></h6>
                                    <span class="user-dropdown-email">{{ active_user.email }}</span>
                                </div>
                                <div class="user-dropdown-balance">
                                    <h6>Депозиты</h6>
                                    <h3>$ {{ active_user.invest_sum }} </h3>
                                   <!--  <ul>
                                        <li>1.240 BTC</li>
                                        <li>19.043 ETH</li>
                                        <li>6,500.13 USD</li>
                                    </ul> -->
                                </div>
                                <!-- <ul class="user-dropdown-btns btn-grp guttar-10px">
                                    <li><a href="#" class="btn btn-xs btn-warning">Confirm Email</a></li>
                                    <li><a href="kyc.html" class="btn btn-xs btn-warning">KYC Pending</a></li>
                                </ul> -->
                                <div class="gaps-1x"></div>
                                <ul class="user-dropdown-links">
                                    <li><a href="/cabinet"><i class="ti ti-user"></i>Кабинет</a></li>
                                    <li><a href="/profit"><i class="ti ti-pie-chart"></i>Доход</a></li>
                                    <li><a href="/transaction"><i class="ti ti-control-shuffle"></i>Транзакции</a></li>
                                </ul>
                                <ul class="user-dropdown-links">
                                    <li><a href="/logout"><i class="ti ti-power-off"></i>Выйти</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- .toggle-action -->
                </div><!-- .container -->
            </div><!-- .container -->
        </div><!-- .topbar-md -->
        <div class="container">
            <div class="d-lg-flex align-items-center justify-content-between">
                <div class="topbar-lg d-none d-lg-block">
                    <div class="site-logo">
                        <a href="/" class="site-brand">
                            <img src="/static/images/logo.png" alt="logo" srcset="/static/images/logo2x.png 2x">
                        </a>
                    </div><!-- .site-logo -->
                </div><!-- .topbar-lg -->
                <div class="topbar-action d-none d-lg-block">
                    <ul class="topbar-action-list">
                        <!-- <li class="topbar-action-item topbar-action-link">
                            <a href="/"><em class="ti ti-home"></em> Главная</a>
                        </li> --><!-- .topbar-action-item -->
                        <!-- <li class="dropdown topbar-action-item topbar-action-language">
                            <a href="#" data-bs-toggle="dropdown"> EN <em class="ti ti-angle-down"></em> </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">FR</a></li>
                                <li><a href="#">JY</a></li>
                                <li><a href="#">CH</a></li>
                            </ul>
                        </li> --><!-- .topbar-action-item -->
                        <li class="dropdown topbar-action-item topbar-action-user">
                            <a href="#" data-bs-toggle="dropdown"> <img class="icon" src="/static/images/user-thumb-sm.png" alt="thumb"> </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <div class="user-dropdown">
                                    <div class="user-dropdown-head">
                                        <h6 class="user-dropdown-name">{{ active_user.name }} {{ active_user.second_name }} <span></span></h6>
                                        <span class="user-dropdown-email">{{ active_user.email }}</span>
                                    </div>
                                    <div class="user-dropdown-balance">
                                        <h6>Депозиты</h6>
                                        <h3>$ {{ active_user.invest_sum }}</h3>
                                   <!--  <ul>
                                        <li>1.240 BTC</li>
                                        <li>19.043 ETH</li>
                                        <li>6,500.13 USD</li>
                                    </ul> -->
                                    </div>
                                   <ul class="user-dropdown-links">
                                    <li><a href="/cabinet"><i class="ti ti-user"></i>Кабинет</a></li>
                                    <li><a href="/profit"><i class="ti ti-pie-chart"></i>Доход</a></li>
                                    <li><a href="/transaction"><i class="ti ti-control-shuffle"></i>Транзакции</a></li>
                                </ul>
                                <ul class="user-dropdown-links">
                                    <li><a href="/logout"><i class="ti ti-power-off"></i>Выйти</a></li>
                                </ul>
                                </div>
                            </div>
                        </li><!-- .topbar-action-item -->
                    </ul><!-- .topbar-action-list -->
                </div><!-- .topbar-action -->
            </div><!-- .d-flex -->
        </div><!-- .container -->
    </div>
    <!-- TopBar End -->
    <div class="user-wraper">
        <div class="container">
            <div class="d-flex">
                <div class="user-sidebar">
                    <div class="user-sidebar-overlay"></div>
                    <div class="user-box d-none d-lg-block">
                        <div class="user-image">
                            <img src="/static/images/user-thumb-lg.png" alt="thumb">
                        </div>
                        <h6 class="user-name">{{ active_user.name }} {{ active_user.second_name }} </h6>
<!--                        <div class="user-uid">Unique ID: <span>IXIA1A105</span></div>-->
                       <!--  <ul class="btn-grp guttar-10px">
                            <li><a href="#" class="btn btn-xs btn-warning">Confirm Email</a></li>
                            <li><a href="kyc.html" class="btn btn-xs btn-warning">KYC Pending</a></li>
                        </ul> -->
                    </div><!-- .user-box -->
                     <ul class="user-dropdown-links">
                                    <li><a href="/cabinet"><i class="ti ti-user"></i>Кабинет</a></li>
                                    <li><a href="/profit"><i class="ti ti-pie-chart"></i>Доход</a></li>
                                    <li><a href="/transaction"><i class="ti ti-control-shuffle"></i>Транзакции</a></li>
                                </ul><!-- .user-icon-nav -->
                    <div class="user-sidebar-sap"></div><!-- .user-sidebar-sap -->
                    <!-- <ul class="user-nav">
                        <li><a href="how-to.html">How to buy?</a></li>
                        <li><a href="faq.html">Faqs</a></li>
                        <li><a href="#">Whitepaper</a></li>
                        <li>Contact Support<span>info@icocrypto.com</span></li>
                    </ul> --><!-- .user-nav -->
                    
                </div><!-- .user-sidebar -->
                <div class="user-content">
                    <div class="user-panel">
                        <h2 class="user-panel-title">Доход</h2>
                        <!-- if there is no transaction you can use this code -->
                        <!-- <div class="status status-empty">
                            <div class="status-icon">
                                <em class="ti ti-files"></em>
                                <div class="status-icon-sm">
                                    <em class="ti ti-close"></em>
                                </div>
                            </div>
                            <span class="status-text">You have not contributed yet! You should make some.</span>
                            <a href="tokens.html" class="btn btn-primary">Contribute Now</a>
                        </div> -->
                        <table class="data-table tranx-table">
                            <thead>
                                <tr>
                                    <th class="tranx-status"></th>
                                    <th class="tranx-no"><span>Дату создания</span></th>
                                    <th class="tranx-amount"><span>Депозит</span></th>
                                    <th class="tranx-token"><span>Прибыль</span></th>
                                    <th class="tranx-action"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pr in profits %}
                                <tr>
                                    <td class="tranx-status tranx-status-approved"><span class="d-none">Approved</span><em class="ti ti-check"></em></td>
                                    <td class="tranx-no"><span>{{ pr.date }}</span></td>
                                    <td class="tranx-amount"><span>$ {{ pr.user.invest_sum }} </span></td>
                                    <td class="tranx-token"><span>+ $ {{ pr.profit }} </span></td>
<!--                                    <em class="fas fa-info-circle" data-bs-toggle="tooltip" data-placement="bottom" title="1 ETH = 100 ICOX"></em>-->
                                    <td class="tranx-action">
                                        <button data-bs-toggle="modal" style="padding:2px 5px;font-size:12px;margin-right:20px" class="btn btn-primary" data-bs-target="#tranxApproved{{ pr.id }} ">снять</button>
                                    </td>
                                </tr>
                                
                                <div class="modal fade show" id="tranxApproved{{ pr.id }}" tabindex="-1" aria-modal="true" role="dialog" >
        <div class="modal-dialog modal-dialog-centered" style="max-width: 300px;
    min-width: 300px;margin: 0 auto;">
            <div class="modal-content">
                <a href="#" class="modal-close" data-bs-dismiss="modal" aria-label="Close"><em class="ti ti-close"></em></a>
                <div class="tranx-popup">
                    <h4 class="text-center">Cколько вы хотите снять</h4>
<!--                    <p>Transaction <strong>ICIYOW0102</strong> was place on <strong>24-Jul-2022, 12:10 am</strong> and <br> it’s <strong>Successfully Paid.</strong></p>-->
<!--                    <div class="tranx-purchase-details">-->
<!--                        <h6>Purchase Details</h6>-->
                        <form method="post" action="/profit" class="tranx-purchase-info "  style="border:none">
                            {% csrf_token %}
                                <div class="tranx-payment-info">
                                    <i class="fas fa-dollar-sign"></i>
                                    <input type="hidden" name="userprofit_id" value="{{ pr.id }}">
                                <input type="text" name="withdrawal" required class="tranx-payment-address" value="" max="{{ pr.profit }} ">
                                </div>
                                
                                <div class="tranx-payment-info pt-2 " >
                                    <input type="submit" class="w-100 btn btn-primary" value="Отправить" >
                                </div>
                        </form>
                        <!-- .tranx-purchase-info -->
<!--                        <h6>Payment Deposit From <em class="ti ti-arrow-right"></em> <span>Ethereum Address</span></h6>-->
<!--                        <div class="tranx-payment-info">-->
<!--                            <em class="fab fa-ethereum"></em>-->
<!--                            <input type="text" class="tranx-payment-address" value="0x4156d3342d5c385a87d264f90653733592000581" disabled="">-->
<!--                        </div>-->
                        <!-- .tranx-payment-info -->
                    </div><!-- .tranx-payment-details -->
                </div><!-- .tranx-popup -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div>
                                
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div><!-- .user-content -->
            </div><!-- .d-flex -->
        </div><!-- .container -->
    </div>
    <!-- UserWraper End -->
    <div class="footer-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="text-align: center;">
                        <div class="copyright-text copyright-text-s2">©2023. Designed  by <a href="https://umar.kz/">Umar</a>.</div>
                    </div><!-- .col -->
                <!-- <div class="col-md-5 text-md-end">
                    <ul class="footer-links">
                        <li><a href="policy.html">Privacy Policy</a></li>
                        <li><a href="policy.html">Terms of Sales</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
    <!-- FooterBar End -->
    <!-- JavaScript (include all script here) -->
    <script src="/static/assets/js/jquery.bundle.js?ver=110"></script>
    <script src="/static/assets/js/script.js?ver=110"></script>
</body>

</html>